html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.pick-source {
  height: 100%;
  width: 100%;
  cursor: crosshair;
}

button {
  color: red;
}
.screenshot-container {
  display: none;
  width: 100%;
  height: 100%;
}
.screenshot-container img {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.fullscreen .screenshot-container {
  display: block;
}

.dashboard {
  width: 400px;
  height: 400px;
}

.fullscreen .dashboard {
  position: absolute;
  right: 20px;
  bottom: 20px;
}